*{box-sizing: border-box;}

body{
    background-color: #a4bfeb; 
}


h1, h2, h3, h4, h6{
    font-family: 'Open Sans Condensed', sans-serif;
    font-weight: bold;
}

h1{
    font-size: 3.06rem;
    color: #802392;
    /* h-shadow v-shadow blur-radius color */
    text-shadow: .125rem .125rem 3px #1b1a22;
    height: 16.62vw;
    margin: 0;
}

h2{
    color: #802392;
    font-size: 1.5rem;
    margin: 0 auto;
    text-align: center;
}

h3{
    color: #faf8fa;
    font-size: 1.875rem;
}

h4{
    color: #1b1a22;
    font-size: 1.125rem;
    text-align: left;
    line-height: 1.25rem;
}

p{
    font-family: 'Open Sans', sans-serif;
}

.search{
    width: 100%;
    height: 100%;
}

.menu{
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
      
    -webkit-flex-flow: row;
    flex-flow: row;
      
    
    width: 94vw;
    border-radius: .8125rem;
    background-color: #faf8fa;
    margin: 0 auto;
}

    .hamburgermenu{
        width: 2rem;
        height: 2rem;
        margin: 1.125rem;
    }
        .hamburgermenu img{
            max-width: 100%;
            display: inline;
        }

    .recipehop{
        width: 13.7rem;

    }


.container{
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
  
    -webkit-flex-flow: row wrap;
    flex-flow: row wrap;
    
    margin:0 auto;
    width: 84.3vw;
}

.prev img{ 
    max-width: 100%;
    margin: 0 auto;
}

.prev{
    background-color: #faf8fa;
    border-radius: .35rem;
    padding: .375rem;
    /* width: 8.5625rem;
    height: 8.5625rem; */
    width: 30vw;
    height: 30vw;
    margin: 2.7vw;
    position: relative;
}

.prevLabel{
    background-color: #faf8fa;
    opacity: .65;
    margin: 0;
    position: absolute;
    top: 6.0rem;
    height: 2.5rem;
    left:0;
    width: 100%;
}

.browse{
    background-color: #3e8989;
    border-radius: .625rem;
}

.homeSearch{
    border: 3px solid #3e8989;
}

#bigger{
    display: none;
}
/*
 _______________________________
|                               |
|        MOBILE RECIPE          |
|_______________________________|
*/
.recTitle, .recPicture, .ingredients, .recStepBox{
    background-color: #faf8fa;
    border-radius: .75rem;
    padding: 4vw;
    margin: 3.25vw 3.25vw 0 3.25vw;
}

.recTitle{
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-flex-flow: row wrap;
    flex-flow: row wrap;
}
.logo{
    width: 12vw;
    height: auto;
    margin: 4.3vw .75rem;
    /* margin-right: .75rem;
    margin-top: 4.3vw; */
}
.logo img{
    width: 100%;
    height: auto;
    margin: 0;
}
#logoRecPage{
    margin: 0 .75rem 0 0;
}
#recTitle, #recSubtitle{
    color: #011d26;
    width: 70vw;
}
#recTitle{
    font-size: 8vw;
    line-height: 8vw;
    text-shadow: none;
    margin: 0;
}
#recSubtitle{
    font-size: 4.878vw;
    font-style: italic;
    text-align: left;
    margin: 0;
}

.recPicture img, .recStepBox img{
    width: 85vw;
    height: auto;
    margin: 0 auto;
}

#ingTeal{
    width: 85vw;
}
#ingredientList{
    /* list-style-type: none; */
    font-size: 1.125rem;
    line-height: 1.875rem;
    font-family: 'Open Sans Condensed', sans-serif;
    font-weight: bold;
    width: 85vw;
}

.recStep p{
    color: black;
    font-size: 1rem;
    line-height: 1.875rem;
    width: 85vw;
}

#browseRecMobile{
    text-align: center;
    padding: 4vw;
    margin: 3.25vw;
}
#browseRecMobile h3{
    margin: 0;
}
.recSearch{
    width: 92vw;
    margin: 0 auto;
}

/*
 _______________________________
|                               |
|        MOBILE BROWSE          |
|_______________________________|
*/
.browseOptions, #mobileHeader, .item{
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-flex-flow: row wrap;
    flex-flow: row wrap;
}

.browseOptions{
    /* width: 76.15vw; */
    margin: 0 auto;
    /*Flexbox*/
    justify-content: center;
}
#browseSearch{
    width: 76.15vw;
}
.item{
    background-color: #faf8fa;
    border-radius: .375rem;
    padding: 1.6vw;
    margin: 3.5vw auto 0 auto;
    width: 94vw;
}
.item img{
    width: 15.45vw;
    height: 15.45vw;
}
.itemText{
    width: 72vw;
    margin: 1.6vw;
}
.itemText h4{
    margin: 0;
}
.itemText p{
    margin: .3rem 0 0 0;
}
.littleTeal{
    width: 36vw;
    height: 9.5vw;
    margin: 1.9vw;
    border-radius: .625rem;
    background-color: #3e8989;
}
.littleTeal h3{
    margin: 0 auto;
    font-size: 6.5vw;
    text-align: center;
}
#mobileHeader{
    /*Flexbox*/
    width: 94vw;
    margin: 2.75vw auto 0 auto;
    height: 21.1vw;
    border-radius: .75rem;
    background-color: #faf8fa;
}
#tabHeader, .deskHeader, .webSort{ display: none;}


/*
 _______________________________
|                               |
|           TABLET              |
|_______________________________|
*/
@media screen and (min-width: 600px){

    /*_______________________________
    |                               |
    |        TABLET RECIPE          |
    |_______________________________|
    */
    .recTitle, .recIntro, .recStepBox{
        width: 90.625vw;
        padding: 1rem;
    }
    .logo{
        width: 10vw;
    }
    #recTitle{
        font-size: 2.25rem;
        width: 71.6vw;
        text-align: left;
    }
    #recSubtitle{
        font-size: 1.5rem;
        width: 71.6vw;
        margin-left: 11vw;
    }

    .recIntro{
        background-color: #faf8fa;
        margin: 3.25vw 3.25vw 0 3.25vw;
        border-radius: .75rem;

        display: -webkit-box;
        display: -moz-box;
        display: -ms-flexbox;
        display: -webkit-flex;
        display: flex;
        -webkit-flex-flow: row wrap;
        flex-flow: row wrap;
    }
    .recPicture{
        padding: 0;
        margin: 0;
        width: 39.97vw;
    }
    .recPicture img{
        margin: 0;
        width: 100%;
        height: auto;
    }
    .ingredients{
        margin: 0 1rem 1rem 1rem;
        padding: 0;
        width: 42.18vw;
    }
    #ingTeal{
        padding: 0;
        margin: 0;
        width:42vw;
    }
    #ingredientList{
        width: 40vw;
        margin-top: 1.125rem;
        margin-left: 1.5rem;
    }

    .onTheBottom{
        display: -webkit-box;
        display: -moz-box;
        display: -ms-flexbox;
        display: -webkit-flex;
        display: flex;
        -webkit-flex-flow: row wrap;
        flex-flow: row wrap;
        justify-content: space-around;
        
        margin: 3.25vw auto;
        width: 90.625vw;
    }
    #browseRecMobile{
        width: 35vw;
        color: #faf8fa;
        padding: 0;
        text-decoration: none;
        margin: 0;
    }
    #browseRecMobile h3{
        color: #faf8fa;
        text-decoration: none;
    }
    .recSearch{
        width: 35vw;
        margin: 0;
    }

    /*______________________________.
    |                               |
    |         TABLET BROWSE         |
    |_______________________________|
    */
    h4{
        font-size: 2rem;
        line-height: 3rem;
    }
    #browseOptions{
        margin-top: 3.385vw;
        align-items: center;
        align-content: center;
    }
    #browseSearch{
        width: 25.13vw;
        height: 5.7vw;
        border: 3px solid #3e8989;
        border-radius: .625rem;
        margin: 1.9vw;
    }
    .item{
        width: 88.67vw;
        padding: .375rem;
        margin: 3vw auto 0
    }
    .itemText{
        width: 65vw;
    }
    .littleTeal{
        width: 25.13vw;
        height: 6.5vw;
    }
    .littleTeal h3{
        font-size: 4.5vw;
        color: #faf8fa;
        text-decoration: none;
        text-align: center;
    }
    #mobileHeader{ display:none;}
    #tabHeader{ display: block;}




    /*______________________________.
    |                               |
    |       TABLET HOME PAGE        |
    |_______________________________|
    */
    /*Proportion for Feat: Length is 2.284 x the hieght */
    #bigger{
        display: block;
    }
    #mobile{
        display: none;
    }
    img{
        max-width: 100%;
        height: auto;
    }

    #tabHeader{
        margin: 0;
        border: 0;
        padding: 0;
        width: 100vw;
        height: auto;
    }
    .deskHeader{ display: none; }


    #h1tab{
        margin: 0 auto;
        position: absolute;
        top: 25vw;
        left: 22.526vw;
        bottom: 0;
        width: 54.3vw;
        height: 11.2vw;
    }
    h1{
        text-align: center;
        color: black;
        font-size: 9.375vw;
        opacity: .85;
        margin: 0;
    }

    .teal{
        margin: 3.5rem auto 1.375rem auto;
        border-radius: .625rem;
        background-color: #3e8989;
        width: 38.31vw;
        height: 7.1615vw;
        padding-top: 1vw;
    }

    h2{
        text-align: center;
        color: #faf8fa;
        font-size: 4vw;
    }

    .featured{
        width: 81.12vw;
        height: 28.385vw;
        padding: 0;
        margin: 0 auto;
        border: 0;
    }

    .feat{
        border-radius: .375rem;
        padding: .375rem;
        margin: 0;
        width: 38.41vw;
        height: 100%;
        background-color: #faf8fa;
    }
    #feat1{ float: left; }
    #feat2{ float: right; }
    #feat3{ display: none; }
    #feat4{ display: none; }

    h6{
        text-align: left;
        width: 100%;
        color: #011d26;
        font-size: 1.25rem;
        margin: 0;
        border: 0;
        padding: 0;
    }

    p{
        font-size: 2.3vw;
        color: #011d26;
        margin: 0;
        border: 0;
        padding: 0;
        line-height: 1.3125rem;
    }

    .browseBigger{
        background-color: #3e8989;
        border-radius: .625rem;
        width: 81.5vw;
        height: 37.76vw;
        margin: 0 auto;

    }
    
    .browseTop{
        width: 76.82vw;
        height: 7.16vw;
        margin: 3vw 2vw 0 2vw;
        padding-top: 1vw;
    }

    .bbc{
        width: 38.4vw;
        margin: 0;
        padding: 0;
        border: 0;
        float: left;
    }
    .bbc h2{
        text-align: left;
        margin: 0 auto;
        padding: 0;
        border: 0;
    }
    .searchBar{
        width: 32.4vw;
        float: right;
        padding-top: 1vw;
    }

    h3{
        color: #011d26;
        font-size: 3.125vw;
        text-decoration: underline;
        font-weight: bold;
        text-align: left;
        margin: .625rem;
    }

    .cats{
        background-color: #faf8fa;
        height: 29.1667vw;
        margin: 1vw;
        display: -webkit-box;
        display: -moz-box;
        display: -ms-flexbox;
        display: -webkit-flex;
        display: flex;
      
        -webkit-flex-flow: row;
        flex-flow: row;
        justify-content: space-around;
    }

    .catColumn{
        width: 23.177;
        padding: 0;
        margin: 0;
        border: 0;
    }
    #catColumn4{ display: none; }

    ul{
        margin: 0 0 0 1.25rem;
        -webkit-padding-start: 0;
        -webkit-margin-before: 0;
        -webkit-margin-after: 0;
    }
}

/*
 _______________________________
|                               |
|           DESKTOP             |
|_______________________________|
*/
@media screen and (min-width: 1200px){

    /*
     _______________________________
    |                               |
    |       DESKTOP RECIPE          |
    |_______________________________|
    */
    .recIntro{
        grid-area: lefty;
        background-color: none;
        width: 20rem;
        margin: 0;
        display: block;
    }
    .recTitle{
        grid-area: recTitle;
        width: 48.3rem;
        margin: 0;
    }
    #recTitle{
        line-height: 3rem;
        margin-top: 0;}
    .allSteps{
        grid-area: steps;
        max-width: 48.3rem;
    }
    .recStepBox{
        max-width: 100%;
        margin: 0;
        margin-bottom: 2.25rem;
    }
    .recStep{
        max-width: 100%;
    }
    .logo{ display: none;}
    .onTheBottom{ display: none; }

    #recipePage{
        margin: 2rem auto;
        width: 80.0625rem;
        display: grid;
        grid-gap: 2.25rem;

        grid-template-columns: 21rem 48.3rem;
        grid-template-rows: 4rem 6.375rem auto;
        grid-template-areas:
        "header header"
        "lefty recTitle"
        "lefty steps";

        justify-content: center;
    }

    .recPicture{
        width: 20rem;
        height: 20rem;
        padding: 0;
        max-width: 100%;
    }

    .ingredients{
        width: 19rem;
        padding: 0;
        margin: 0;
    }
    #ingTeal{
        display: block;
        width: 18.5rem;
        height: 3.375rem;
    }
    .recSearch{
        width: 13.7rem;
    }
    p{ max-width: 100%; }


    /*_______________________________
    |                               |
    |       DESKTOP BROWSE          |
    |_______________________________|
    */
    #tabHeader, .browseOptions{ display: none; }
    .deskHeader, .webSort{ display: block; }
    #deskHeaderBrowse{
        margin: 2rem auto 0 auto;
        width: 71.0625rem;
    }
    .item{
        width: 18.4375rem;
        padding: .375rem;
        margin: 1.75rem .5625rem 0 .5625rem;
    }
    .item img{
        width: 100%;
    }
    .itemText{
        width: 100%;
    }
    .itemText h4{
        color: #011d26;
        font-size: 1.25rem;
        line-height: 1.4rem;
    }
    .itemText p{
        font-size: 1.125rem;
    }
    .list{
        display: -webkit-box;
        display: -moz-box;
        display: -ms-flexbox;
        display: -webkit-flex;
        display: flex;
      
        -webkit-flex-flow: row wrap;
        flex-flow: row wrap;
        justify-content: flex-start;

        width: 71.6rem;
        margin: 0 auto;
    }
    .littleTeal{
        width: 100%;
        height: 3.3125rem;
        margin: 0;
    }
    .littleTeal h3{
        font-size: 3rem;
    }
    .webSort{
        background-color: #3e8989;
        width: 12.3125rem;
        border-radius: .625rem;
        margin-top: 1.75rem;
        margin-right: .5625rem;
    }
    .filterList{
        background-color: #faf8fa;
        margin: .3125rem;
    }



    /*
     _______________________________
    |                               |
    |       DESKTOP HOME PAGE       |
    |_______________________________|
    */
    #catColumn4{ display: block; }
    #tabletSearch{ display: none; }
    .teal{ display: none; }
    #tabHeader{ display: none; }

    .deskHeader{
        display: block;
        grid-area: header;
    }

    .featured{
        width: 39rem;
        height: 29.375rem;
        grid-area: featured;

        display: -webkit-box;
        display: -moz-box;
        display: -ms-flexbox;
        display: -webkit-flex;
        display: flex;
      
        -webkit-flex-flow: row wrap;
        flex-flow: row wrap;
        justify-content: space-between;
        align-content: space-between;
    }
    .feat{ margin: 0; }
    #feat3{ display: block; }
    #feat4{ display: block; }



    #bigger{
        
        width: 80.0625rem;
        margin: 2rem auto 0 auto;

        display: grid;
        grid-template-columns: 29.375rem 39rem;
        grid-template-rows: 14.5rem 29rem;
        grid-template-areas:
          "header header"
          "browse featured";

        grid-gap: 1.625rem;
        justify-content: center;
    }

    /*----  MENU BAR DETAILS  ----*/

    .topBar{
        display: -webkit-box;
        display: -moz-box;
        display: -ms-flexbox;
        display: -webkit-flex;
        display: flex;
          
        -webkit-flex-flow: row;
        flex-flow: row;

        height: 4rem;
    }

    .deskHeader{
        background-color: #faf8fa;
    }
    h1{
        font-size: 3.789rem;
        width:19.375rem;
        color: #802392;
        margin: 0;
        margin-top: -.5rem;
        padding: 0;
        border: 0;
        opacity: 1;
        z-index: 2;
    }
    #logo{
        width:5.25rem;
        height:5.25rem;
        max-width: 100%;
        margin-left: -1.75rem;
        margin-top: -.5rem;
        z-index: 1;
    }
    h4{
        margin: 1rem 1rem 3rem 0;
        height: 2.75rem;
        font-size: 2rem;
        color: #3e8989;
    }
    #allRecipies{ width: 10rem; }
    #browseByCategory{ width: 16.625rem; }
    .searchBar{
        width: 13.75rem; height: 1.875rem;
        margin-top: .25rem;
    }

    .widePic{
        width: 100%;
        padding: 0;
        z-index: -1;
        margin: 0 auto;
    }
    .widePic img{
        max-width: 99%;
        height: 10.1875rem;
        padding: 0;
        margin: 0 .5% 0 .5%;
    }


    h2{
        font-size: 2rem;
        width: 18.75rem;
    }
    h3{
        font-size: 1.5rem;
    }
    p{ 
        font-size: 1.125rem;
    }
    .catColumn{
        width: 11.875rem;
        height: 11.875rem;
    }

    .cats{
        -webkit-flex-flow: wrap;
        flex-flow: wrap;
    }
    
    .feat{
        width: 18.5rem;
        height: 13.5rem;
    }
    .feat img{
        width: 17.6875rem;
        height: auto;
        margin: 0 auto;
        padding: 0;
        border: .375rem 0 0 0;
    }

    .browseBigger{
        grid-area: browse;
        width: 29.375rem;
        height: 29.625rem;
    }
    .browseTop{
        height: 3.4375rem;
        margin: 0;
        padding: 0;
    }
    .bbc{
        width: 17.5rem;
        margin-left: 1.625rem;
        padding: .5rem 0;
    }
    .cats{
        width: 28.7rem;
        height: 25.625rem;
        margin: 0 auto;
    }

    /* div{
        max-width: 100%;
    } */
}